AtividadeGCEIC26.md
node_modules/
coverage/

# Dependências
/node_modules
/jspm_packages

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Variáveis de ambiente e credenciais
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage e build (quando aplicável)
.nyc_output
coverage
build
dist
docs

# Outros
.npm
.eslintcache
.node_repl_history
.DS_Store
