<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nav>
    <div ">🏠 Exemplo<span>Calc</span></div>
    <div >
      Olá, <strong><%= user.nome %></strong>
      <a href="/equipe-01/logout">Sair</a>
    </div>
  </nav>

    <form method="POST" action="/equipe-01/calcular" id="calculoForm">
      <div >
        <label for="altura">altura</label>
        <input type="text" id="altura" name="altura" placeholder="Digite altura" required>
      </div>
      <div >
        <label for="largura">largura</label>
        <input type="largura" id="largura" name="largura" placeholder="Digite largura"  required>
      </div>
      <!-- <button type="submit"  id="btnCalculo">Entrar</button> -->
      
    </form>
    <button id="btnCalcular" onclick="calcular()">Calculo</button>
    <div ><span>Resultado</span><span id="data">-</span></div>
</body>
<script>

async function calcular() {
  console.log("valor"+ document.getElementById('altura').value);
  const altura1 = parseFloat(document.getElementById('altura').value);
  const largura1 = parseFloat(document.getElementById('largura').value);
  const payload = {
    altura: altura1,
    largura: largura1,
  };
  alert(JSON.stringify(payload));
  try {
    const res = await fetch('/equipe-01/calcular', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(payload),
    });
    
    const json = await res.json();
    
    alert(JSON.stringify(json));

    if (!json.success) { alert('Erro: ' + json.error); return; }

    const d = json.data;
    alert(d);
    document.getElementById('data').textContent = d.toString();
  } catch (e) {
    alert('Erro ao comunicar com o servidor: ' + e.message);
  } finally {

  }
}
</script>
</html>