<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Calculadora - Ajuda</title>
</head>

<body>
  <%- include('../partials/header') %>
    <div class="container">
      <h1>Ajuda e FAQ</h1>
      <h3>Como calcular o volume?</h3>
      <p>Vá até a tela "Home" e clique no botão correspondente a Volume. Insira as dimensões em metros.</p>

      <h3>Como saber o custo do vinil ou fibra?</h3>
      <p>Acesse o menu de Materiais. Você precisará saber primeiro o volume da sua piscina (calcule antes) e depois
        inserir o volume na calculadora de Materiais para obter o multiplicador correto.</p>

      <h3>Tive um erro na API, e agora?</h3>
      <p>A API pode retornar erro se você enviar dados faltantes ou inválidos (por exemplo, letras no lugar de números
        ou valores negativos).</p>
    </div>
</body>

</html>