<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2;url=/equipe-10/login">
    <title>Carregando...</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="display:flex; justify-content:center; align-items:center; height:100vh; background:#282c34; color:white;">
    <h1>Calculadora Financeira Pessoal</h1>
</body>
</html>