<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/calcFinanceira/calculo">Calculadora</a>
        <a href="/calcFinanceira/sobre">Sobre</a>
        <a href="/calcFinanceira/help">Help</a>
        <a href="/calcFinanceira/logout">Sair</a>
    </nav>

    <h2>Sobre a Equipe</h2>
    <img src="/img/foto-grupo.jpeg" width="300" alt="Equipe">
    <p>Desenvolvedores: Aluno 1, Aluno 2, Aluno 3</p>
    <a href="/calcFinanceira/calculo">Voltar</a>
</body>
</html>